<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.zhuyizhuo.generator.mybatis.database.mapper.MysqlDataBaseMapper">

    <select id="getTableNameListBySchema" resultType="dbTableInfo" parameterType="dataBaseInfo">
        SELECT
        TABLE_SCHEMA as tableSchema,
        TABLE_NAME as tableName,
        TABLE_COMMENT as tableComment
         FROM
            INFORMATION_SCHEMA.TABLES
        <where>
            <if test="tableSchema != null and '' != tableSchema">
                TABLE_SCHEMA = #{tableSchema}
            </if>
            <if test="tableNames != null">
                AND TABLE_NAME IN
                <foreach collection="tableNames" index="index" item="tableName" open="(" separator="," close=")">
                    #{tableName}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getColumnListByTableName" resultType="columnInfo" parameterType="dbTableInfo">
        SELECT
        COLUMN_NAME columnName,
        COLUMN_COMMENT columnComment,
        DATA_TYPE dataType
        FROM
          INFORMATION_SCHEMA.COLUMNS
        <where>
            <if test="tableSchema != null and '' != tableSchema">
                TABLE_SCHEMA = #{tableSchema}
            </if>
            <if test="tableName != null and '' != tableName">
                AND TABLE_NAME = #{tableName}
            </if>
        </where>
        ORDER BY ORDINAL_POSITION ASC
    </select>

    <select id="getPrimaryKeys" resultType="columnInfo" parameterType="dbTableInfo">
        SELECT
          COLUMN_NAME columnName
        FROM
            INFORMATION_SCHEMA.STATISTICS
        WHERE INDEX_NAME = 'PRIMARY'
        <if test="tableSchema != null and '' != tableSchema">
             AND TABLE_SCHEMA = #{tableSchema}
        </if>
        <if test="tableName != null and '' != tableName">
            AND TABLE_NAME = #{tableName}
        </if>
        ORDER BY
            TABLE_SCHEMA,
            TABLE_NAME,
            INDEX_NAME,
            SEQ_IN_INDEX
    </select>

</mapper>